@import "../../../../../partials/flex";

.ContactsDetailsWrapper {
    @include flex(space-between);

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    height: 70px;
    z-index: 0;

    .cover {
        border-radius: 10px;
        position: absolute;
        width: 680px;
        height: 70px;
        z-index: 1;
        left: 0;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
